@import "colors";

.cart{
    background-color: $pink;
    width: 100%;
    height: 100vh;
    
    > main{
        height: 100%;
        background-color: white;
        max-width: 900px;
        margin: auto;
        padding: 2rem;

        > article{
            padding: 2rem;

            > div{
                display: flex;
                justify-content: space-between;
                margin: 1rem 0;
            }

            > a{
                background-color: $red;
                color: white;
                text-align: center;
                padding: 0.5rem 1rem;
                border-radius: 5px;
                margin-top: 2rem;

                float: right;
            }
        }

    }
}

.cartItem{
    background-color: rgb(246 , 246 , 246);
    margin: 1rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    border-radius: 5px;

    > div{
        display: flex;
        align-items: center;

        > h4{
            font-weight: 200;
            letter-spacing: 2px;
        }

        > img{
            height: 50px;
        }

        > input{
            width: 2rem;
            height: 2rem;
            text-align: center;
            padding: 0.5rem;
            border: none;
            margin: 0.25rem;
            outline: none;
            border-radius: 5px;
            color: $red;

            &::-webkit-inner-spin-button, ::-webkit-outer-spin-button{
                -webkit-appearance: none;
                margin: 0%;
            }
        }

        > button{
            cursor: pointer;
            border: none;
            padding: 0.5rem;
            background-color: $dark;
            color: white;
            border-radius: 5px;
        }
    }
}

@media screen and (max-width : 600px) {
    .cart > main > article{

        > div {

            font-size: 0.7rem;

            > h4{
                padding-top: 0px;
            }
        }

        > a{
            float: none;
            display: block;
            width: 100%;
        }


    }

    .cartItem > div{

        > h4{
            padding-top: 0px;
            font-size: 0.7rem;
        }

        > img{
            height: 30px;
        }
    }
}