@import './colors.scss';

.founder{
    background-color: $red;
    width: 100%;
    height: 80vh;

    > div{

        height: 100%;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        color: white;
        width: 50%;
        text-align: center;
        margin: auto;

        > img{
            border-radius: 100%;
            width: 200px;
            height: auto;
        }

        > h3{
            font-size: 1.3rem;
            padding: 2rem 0 1rem 0;
            font-weight: bolder;
        }

        > p{
            font-size: 0.9rem;
            font-family:'Times New Roman', Times, serif;
            letter-spacing: 3px;
            line-height: 200%;
        }
    }
}